[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu113"
verify_ssl = true
name = "downloadpytorch"

[[source]]
url = "https://download.pytorch.org/whl/cu113"
verify_ssl = true
name = "downloadpytorch"

[[source]]
url = "https://download.pytorch.org/whl/cu113"
verify_ssl = true
name = "downloadpytorch"

[packages]
opencv-python = "*"
numpy = "*"
torch = {version = "*", index = "downloadpytorch"}
torchvision = {version = "*", index = "downloadpytorch"}
torchaudio = {version = "*", index = "downloadpytorch"}
matplotlib = "*"
tqdm = "*"
pandas = "*"
scikit-learn = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.8"
